<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
  <style type="text/css">
      code{white-space: pre-wrap;}
      span.smallcaps{font-variant: small-caps;}
      span.underline{text-decoration: underline;}
      q { quotes: "“" "”" "‘" "’"; }
  </style>
$if(is-post)$
  <link rel="stylesheet" href="../assets/style.css" />
$else$
  <link rel="stylesheet" href="assets/style.css" />
$endif$
$if(is-post)$
  <style type="text/css">
    .picture { display: none; }
    .header { display: none; }
    .column { float: none; }
    .left { width: 100% }
    .right { width: 100% }
    div.menuitem { float: left; padding-right: 2em; }
    div.menu { float: none; font-size: 100%; padding-bottom: 1cm; }
  </style>
$endif$
</head>
<body>
<div class="header">
Victor Cacciari Miraldo
</div>
<div class="row">
<div class="column left">
  <div class="picture">
	  <img src="assets/profile1.small.jpg" style="width:200px; border-radius: 5px;">
  </div>
  <div class="menu">
    <div class="menuitem"> 
      <a href="/index.html">Home</a>
    </div>
    <div class="menuitem"> 
      <a href="/posts.html">Pages</a>
    </div>
    <div class="menuitem"> 
      <a href="/research.html">Research</a>
    </div>
  </div>
</div>
<div class="column right">
$body$
</div>
</div>
</body>
</html>
