body 
{
  margin:40px auto;
  max-width:950px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  backface-color: #EEEEEE; 
  padding:0 10px
}

.picture 
{
  margin-top: 1.3em;
}

.header 
{
  font-family: bold;
  font-size: 250%;
  margin: auto;
}

h1,h2,h3 
{
  line-height:1.2
}

.column {
    float: left;
    padding: 10px;
}

.left {
  width: 22%;
}

.right {
  width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div.menu
{
  padding-left: 1em;
  font-family: bold;
  font-size: 140%;
}

div.menuitem
{
  padding-top: 1em;
}

a, u
{
  color: #2A5DB0;
  text-decoration: none;
}